body {
  font-family: 'Open Sans', arial, sans-serif;
  color: #494d55;
  font-size: 14px;
}

p {
  margin-bottom: 15px;
  line-height: 1.5;
}

a {
  color: #3aa7aa;
}

a:hover {
  text-decoration: underline;
  color: #339597;
}

a:active {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.btn,
a.btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
}

.btn .fa,
a.btn .fa {
  margin-right: 5px;
}

.btn-cta,
a.btn-cta {
  font-weight: bold;
  font-size: 16px;
  padding: 10px 30px;
}

.btn-primary {
  background: #40babd;
  border: 1px solid #40babd;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.hover {
  background: #3aa7aa;
  color: #fff;
  border: 1px solid #3aa7aa;
}

.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

.tlinks {
  text-indent: -9999px;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-indicators {
  bottom: 30px;
  margin-bottom: 0;
}

#contact .form-control {
  background-color: #F2F2F2;
}

#contact .form-control:focus {
  background-color: #fff;
}

.container {
  overflow: hidden;
  /* min-width: 1280px; */
}

.carousel-indicators li {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  width: 11px;
  height: 11px;
  margin: 0;
  margin-right: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.carousel-indicators li.active {
  background-color: #40babd;
  width: 11px;
  height: 11px;
  margin: 0;
  margin-right: 8px;
}


/* ====== Footer ====== */
.footer {
  background: #26282c;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 0;
}

.footer a {
  color: #40babd;
}

.footer .fa-heart {
  color: #EA5395;
}

.team-section {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #526fe1d1;
}

.team-section .item-inner {
  padding: 30px;
  background: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 100%;
}

/* ======= About Section ======= */

#about {
  padding-top: 90px;
}

.about-section .section-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 300;
}

.about-section .intro {
  color: #a2a6af;
  font-size: 16px;
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.about-section .items-wrapper {
  margin-bottom: 60px;
}

.about-section .items-wrapper .figure-holder {
  min-height: 170px;
  margin-bottom: 15px;
  vertical-align: bottom;
}

.about-section .items-wrapper .item-inner {
  padding: 30px;
}

.about-section .items-wrapper .item-title {
  color: #40babd;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
}

.about-section .items-wrapper .item-desc {
  color: #616670;
}

.technologies {
  margin-bottom: 90px;
}

.technologies .list-inline-item {
  margin-right: 15px;
}

.technologies .list-inline-item:last-child {
  margin-right: 0;
}

#testimonials {
  padding-top: 4rem;
  background: #40babd;
}

#testimonials h2 {
  color: #fff;
}

#testimonials .quote-holder {
  padding: 10px;
  background-color: #fff;
}

.testimonials-inner {
  padding: 60px 30px;
  position: relative;
  max-width: 800px;
}

.testimonials-inner .profile-holder {
  position: absolute;
  left: 30px;
  text-align: center;
}

.information {
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  margin: 30px 0;
}

.information .profile-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #404EED;
  color: #fff;
}

.information .profile-holder h3 {
  font-size: 20px;
}

.testimonials-inner .profile-image {
  display: inline-block;
  margin: 0 auto;
}

.testimonials-inner .quote {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  margin-left: 130px;
  border-left: none;
  margin-bottom: 0;
  font-size: 14px;
  min-height: 100px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  padding: 15px;
}

.testimonials-inner .quote:before {
  position: absolute;
  left: -10px;
  top: 30px;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.2);
}


/* ======= Contact Section ======= */
.contact-section {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #494d55 url("../images/map.png") no-repeat center center;
  color: #fff;
}

.contact-section .section-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 30px;
}

